.score-result-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 15%;
  margin: auto;
  margin-top: 10px;
  /* background-color: rgba(128, 128, 128, 0.466); */
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.player-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.player-1-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.player-2-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.player-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.main-character-icon {
  margin-top: 20px;
  position: relative;
  pointer-events: none;
  transition: 0.3;
  outline: "none";
}

.main-character-icon img {
  height: 50px;
  width: 50px;
  border-radius: 100px;

  border-style: solid;
  border-width: 2px;
  border-color: wheat;
}

.main-character-icon img.winning {
  box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.945); /* White glow effect */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
}

.player-1 {
  margin-right: 10px;
}

.player-2 {
  margin-left: 10px;
}

.round-icon {
  pointer-events: none;
  position: relative;
  transition: 0.3;
  outline: "none";
}

.round-icon img {
  margin-top: 20px;
  height: 30px;
  width: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.438);
}

.versus-icon {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Ensure it's on top */
}

.versus-icon img {
  width: 50px;
  height: 50px;
  position: relative;
  transition: 0.3s;
  outline: none;
}

.score-result-container .inner {
  background-color: rgba(128, 128, 128, 0.466);
}
