services:
  washizaki:
    container_name: washizaki
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
      - "8443:443"
    environment:
      NODE_ENV: production
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro # I am using CertBot
    restart: always
