.fire-ring {
  position: absolute;
  transform: translateY(0%);
  z-index: -1;
}
.fire-ring-img {
  width: 300px;
  position: relative;
  transform: translateX(-80px);
}
.projectile-initial {
  position: relative;
  width: 90px;
  transform: translateY(-130px);
  margin-left: 80%;
}
