.profile-glow-image {
  position: absolute;
  width: 170px;
  margin-left: -161px;
  margin-top: -82px;
  transition: 0.3s;
  overflow: visible;
}
.profile-frozen-image {
  position: absolute;
  width: 170px;
  margin-left: -161px;
  margin-top: -82px;
  transition: 0.3s;
  overflow: visible;
}
