.kyo-character {
  position: absolute;
  right: -50px;
  top: 2;
  width: 200px;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
}
.kyo-character-image {
  width: 200px;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
}

.iori-character {
  position: absolute;
  right: -50px;
  top: -10px;
  width: 200px;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
}
.iori-character-image {
  width: 200px;
  height: 200px;
}

.kula-character {
  position: absolute;
  right: -150px; /* In case of Kula,we might need to have her closer to the pfp*/
  top: 2;
  top: -10px;
  width: 200px;
  max-width: 200px;
  height: 200px;
  max-height: 210px;
}
.kula-character-image {
  max-width: 200px;
  max-height: 180px;
}
