@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.cdnfonts.com/css/technology?styles=26651');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* Arbitrary colors :  */

.blue {
  color: #394cfa;
}

.red {
  color: #c61b05;
}

.aqua {
  color: hsl(161, 100%, 50%);
}
.magenta {
  color: rgb(224, 17, 95);
}

:root {
  --glow-color: hsl(219, 100%, 69%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #212529;
  color: #fff;
  margin: 0;
  height: 100vh;
  font-family: 'Share Tech Mono', monospace;
  overflow-x: hidden;
}
.profile-container {
  display: fixed;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: auto;
}
@media (max-width: 1440px) {
  .glowing-txt {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .glowing-txt {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .glowing-txt {
    font-size: 1rem;
    letter-spacing: 6px;
  }
}

@media (max-width: 576px) {
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba(33, 37, 41, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 33, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  z-index: 1;
  font-family: 'Share Tech Mono', monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: rgb(239, 239, 239);
  font-family: 'Share Tech Mono', monospace;
}

.logo a span {
  color: #0f5f94;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Share Tech Mono', monospace;
  transition: 0.2s all ease-in-out;
  color: rgb(255, 255, 255);
}

/* .menu:hover a {
  opacity: 0.4;
} */

.menu a:hover {
  opacity: 1;
  color: #9f9f9f;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 15px;
    width: 100%;
  }
  .menu {
    flex-direction: column;
    background: rgba(5, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 93, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px 0 solid rgba(255, 255, 255, 0.18);
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
  }
  .logo a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(239, 239, 239);
    font-family: 'Share Tech Mono', monospace;
  }

  .logo a span {
    color: #0f5f94;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}
/* hero styles */
.hero-text {
  display: flex;
  font-family: 'Share Tech Mono', monospace;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.hero-text p {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  font-size: 20px;
}
.hero-text h1 {
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
  margin-bottom: 10px;
}
.pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -600;
}
.pfp img {
  border-radius: 50%;
  z-index: -600;
}
/* hero styles end */

.button-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

footer {
  background: rgba(33, 37, 41, 0.8);

  box-shadow: 0 8px 32px 0 rgba(31, 105, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  color: #fff;
  padding: 10px;
  text-align: center;

  bottom: 0;
  width: 100%;
}
.footer p {
  font-family: 'Share Tech Mono', monospace;
}
.footer a {
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
}
.heading h1 {
  font-size: 50px;
  text-align: center;
}
.heading h1 span .blue {
  color: #394cfa;
}
@media (max-width: 768px) {
  .heading h1 {
    font-size: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .hero-text p {
    font-size: 15px;
  }
}
/* .hr {
  border: 0;
  height: 4px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(108, 5, 5, 0.649),
    rgba(255, 255, 255, 0)
  );
} */

.project-card {
  width: 590px;
  height: 420px;
  margin: 20px 50px;
  padding: 18px;
  background: rgba(5, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(253, 108, 31, 0.37);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
  transition: 0.2s all ease-in-out;
}
.project-card:hover {
  transform: scale(1.05);
}
.project-card img {
  width: 100%;
  height: 200px;
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 20px;
}
.project-map {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project-title h2,
.project-description p {
  text-align: center;
}
.project-title h2 {
  font-size: 30px;
}
.project-tag p {
  padding: 8px;
  background: rgba(3, 65, 234, 0.3);
  width: fit-content;
  border-radius: 10px;
}

.skill-map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  flex-wrap: wrap;
  gap: 40px;
}
.skill img {
  max-width: 70px;
  transition: 0.2s all ease-in-out;
}

.skill-img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.skill {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(5, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(33, 31, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  width: 180px;
  height: 110px;
}

.wip-img {
  user-select: none;
  display: flex;
  position: fixed;
  top: 0;
  right: 2px;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
}
.hero-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.hero-socials img {
  justify-content: space-evenly;

  max-width: 45px;
  transition: 0.2s all ease-in-out;
}
.hero-socials img:hover {
  transform: scale(1.3);
}
.hero-socials a {
  justify-content: space-evenly;
  padding: 1rem;
  background: rgba(5, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 41, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
}
@media (max-width: 768px) {
  .wip-img {
    user-select: none;
    display: flex;
    position: fixed;
    top: 2px;
    right: 15px;
    width: 20px;
    height: 35px;
    max-width: 50px;
    max-height: 50px;
  }

  .project-card {
    width: 390px;
    height: 420px;
    margin: 20px 50px;
    padding: 18px;
    background: rgba(5, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(253, 108, 31, 0.37);
    border: 1px 0 solid rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    transition: 0.2s all ease-in-out;
  }
  .project-card:hover {
    transform: scale(1.05);
  }
  .project-card img {
    width: 100%;
    height: 200px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  .project-map {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .skill-map {
    margin: 10px;
    margin-top: 50px;
    gap: 15px;
  }
  .skill {
    width: 100px;
    height: 80px;
  }
  .skill img {
    max-width: 50px;
  }
  .hero-socials {
    flex-direction: row; /* Stack items vertically on small screens */
    gap: 10px; /* Increased gap when stacked */
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .hero-socials img {
    max-width: 35px; /* Make images smaller on mobile */
  }

  .hero-socials a {
    padding: 1rem; /* Adjust padding on small screens */
  }
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 30px;
  margin-right: 50px;
  background: rgba(5, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 59, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  padding: 40px;
}

form > input,
form > textarea {
  padding: 12px;
  margin: 12px 0;
  border: none;
  color: #ddd;
  background-color: #222;
  border-radius: 4px;
  display: block;
  width: 100%;
}

form > textarea {
  height: 100px;
  resize: none;
}

form > input[type='submit'] {
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  transition: 0.35s;
}

form > input[type='submit']:hover {
  background-color: #0a17c7;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.contact-section {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  gap: 30px;
}
.contact-info {
  flex: 3;
  margin-left: 50px;
  height: 100%;
  padding: 50px;
  background: rgba(5, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(38, 31, 135, 0.37);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  padding-bottom: 8%;
}
.contact-form {
  flex: 5;
}
.contact-info .hero-socials {
  gap: 20px;
}
.contact-links {
  font-size: larger;
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }
  .contact-info {
    margin-left: 0px;
    padding-bottom: 20px;
    max-width: 80%;
    margin: 30px;
    flex: 1;
  }
  form {
    flex: 1;
    padding-left: 18px;
    width: 100%;
    padding-right: 18px;
  }
  .contact-form {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-left: 15px;
  }
  form > input {
    width: 100%;
    margin: 10px 0;
  }
  .contact-links {
    flex-direction: column;
  }
}
.github img {
  max-width: 50px;
}
.project-links {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}
.project-links a {
  font-size: 20px;
  text-decoration: none;
  margin: 10px;

  color: white;
}
.navbar-btn {
  padding: 10px;
  background-color: #394cfa;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
}
.navbar-btn:hover {
  transform: scale(1.1);
  background-color: #0905f1;
  box-shadow: 0 8px 32px 0 rgba(33, 31, 135, 0.8);
}

.wrapper {
  width: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect-wrapper {
  text-align: center;
  font-weight: normal;
}

#typed {
  font-weight: bold;
  color: #394cfa;
  line-height: 1.2; /* Match your overall text line height */
  transition: 0.2s;
}

.cursor {
  display: inline-block;
  background-color: #394cfa;
  animation: blinker 800ms infinite;
  transition: 0.2s;
}

.cursor.typing-true {
  animation: none;
}

@keyframes blinker {
  0% {
    background-color: #394cfa;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: #394cfa;
  }
}
#blog {
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.posts {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.post-desc {
  margin-top: 20px;
}
.post-card {
  margin-top: 0;
}

/* .project-title .post-title {
  font-size: 15px;
} */
.cyber-scourge {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  margin-top: 30px;
  padding: 10px;
  background-color: #394cfa;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 76, 135, 0.6);
  margin-bottom: 20px;
  transition: 0.2s all ease-in-out;
}
.cyber-scourge:hover {
  transform: scale(1.1);
  background-color: #1505f1;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.8);
}
.hero-typewriter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
  font-size: 40px;
}
.typewriter-wrapper span {
  color: #394cfa;
}
.Typewriter__wrapper {
  color: #394cfa;
  font-weight: 700;
}
@media (max-width: 768px) {
  .Typewriter__wrapper,
  .hero-typewriter {
    font-size: 25px;
  }
}
