.character-select-container {
  display: flex;
  position: absolute;
  width: 180px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3.3px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(20, 24, 28, 0.8);
  height: 50px;
  border-radius: 25px;
  transition: 0.3;
  outline: 'none';
}

.character-icon {
  opacity: 1;
  position: relative;
  pointer-events: none;
  transition: 0.3;
  outline: 'none';
}

.is-grayed {
  pointer-events: auto;
  cursor: pointer;

  opacity: 0.2;
  transition: 0.3;
  outline: 'none';
}
.is-grayed:hover {
  transition: 0.3;
  box-shadow: 0px 0px 6px 1px rgba(136, 135, 135, 0.7);
  opacity: 0.4;
}
@media (max-width: 768px) {
  .character-select-container {
    display: flex;
    position: absolute;
    width: 160px;
    left: 50%;
    padding: 3.3px;
    justify-content: center; /* Ensures even spacing between icons */
    gap: 5px;
    align-items: center;
    background-color: rgba(20, 24, 28, 0.8);
    height: 40px;
    border-radius: 25px;
    transition: 0.3;
  }
  .character-icon {
    opacity: 1;
    position: relative;
    pointer-events: none;
    transition: 0.3;
    outline: 'none';
  }
  .is-grayed {
    pointer-events: auto;
    cursor: pointer;
    opacity: 0.2;
    transition: 0.3;
    outline: 'none';
  }

  .is-grayed:hover {
    transition: 0.3;
    box-shadow: 0px 0px 6px 1px rgba(136, 135, 135, 0.7);
    opacity: 0.4;
    outline: 'none';
  }
}
